<html>
  <head>
    <title>My Site</title>
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>

    <!-- include index.ejs -->
    <%- yield %>
    <div id="footer">
      <p>Copyright © foobar</p>
    </div>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGrJEz1PW02crTMIE6Kum7mZXlDhzUn6Q&callback=initPage">
    </script>
    <script src="main.js"></script>
    <script src="init.js"></script>
  </body>
</html>
