<div id="map">MAP HERE</div>
<div id="info-box">
    <div>School Name: <span id="info-name"></span></div>
    <div>Address: <span id="info-address"></span></div>
    <div>Phone: <span id="info-phone"></span></div>
    <div>Grades Offered: <span id="info-grades"></span></div>
    <div>School Type: <span id="info-type"></span></div>
</div>
